DEEPSEEK_API_KEY=your_deepseek_api_key_here
PRIVATE_KEY=your_wallet_private_key_here
INFURA_BASE_RPC_URL=https://base-mainnet.infura.io/v3/your_infura_project_id
INFURA_SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/your_infura_project_id
